<h1 style="text-align:center;">Jala University</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnOCQVLFaOYgbd3ydQzrKbpcTChO1ERykvoIIdugeUPQ&s" alt="Logo de Jala University" style="display:block; margin:auto;">

<h1 style="text-align:center;">Laboratorio 1 - Estadística</h1>

<h3 style="text-align:center;">Estudiante:</h3>
<h4 style="text-align:center;">Rodrigo Machaca</h4>

<h3 style="text-align:center;">Docente:</h3>
<h4 style="text-align:center;">Wilmar Alzate Berrio</h4>

<p style="text-align:center;">Fecha: 1/5/2024</p>

## Actividad #1

- Calcular la media, mediana, de la variable  'price_usd'  en la base de datos provista.

In [1]:
import pandas as pd
import numpy as np

In [10]:
# Leer el archivo CSV como dataframe
automobiles_df = pd.read_csv('DB/cars.csv')

In [27]:
automobiles_df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [12]:
# Calcular la mediana de la columna 'price_usd'
mediana_price_usd = np.median(automobiles_df['price_usd'])

In [13]:
# Calcular la media de la columna 'price_usd'
media_price_usd = automobiles_df['price_usd'].mean()

In [14]:
# Imprimir los resultados
print("La mediana de la columna 'price_usd' es:", mediana_price_usd)
print("La media de la columna 'price_usd' es:", media_price_usd)

La mediana de la columna 'price_usd' es: 4800.0
La media de la columna 'price_usd' es: 6639.971021255613

## Actividad #2

- Calcular la media, rango, y desviación estándar de la variable 'price_usd' en la base de datos propuesta.

In [15]:
# Leer el archivo CSV como dataframe
automobiles_df = pd.read_csv('DB/cars.csv')

In [28]:
automobiles_df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [ ]:
# Calcular la mediana de la columna 'price_usd'
media_price_usd = automobiles_df['price_usd'].mean()

In [17]:
# Ordenar los valores de 'price_usd' en orden ascendente
automobiles_df_sorted = automobiles_df.sort_values(by='price_usd')

In [19]:
# Calcular el rango de la columna 'price_usd'
rango_price_usd = automobiles_df_sorted['price_usd'].iloc[-1] - automobiles_df_sorted['price_usd'].iloc[0]

In [20]:
# Calcular la desviación estándar de la columna 'price_usd'
desviacion_estandar_price_usd = automobiles_df['price_usd'].std()

In [21]:
# Imprimir los resultados
print("La media de la columna 'price_usd' es:", media_price_usd)
print("El rango de la columna 'price_usd' es:", rango_price_usd)
print("La desviación estándar de la columna 'price_usd' es:", desviacion_estandar_price_usd)

La media de la columna 'price_usd' es: 6639.971021255613
El rango de la columna 'price_usd' es: 49999.0
La desviación estándar de la columna 'price_usd' es: 6428.1520182029035

## Actividad #3

- Calcular la moda de la variable color de la base de datos propuesta

In [24]:
# Leer el archivo CSV como dataframe
automobiles_df = pd.read_csv('DB/cars.csv')

In [29]:
automobiles_df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [25]:
# Calcular la moda de la variable 'color'
moda_color = automobiles_df['color'].mode()

In [26]:
# Imprimir la moda del color
print("La moda de la variable 'color' es:", moda_color)

La moda de la variable 'color' es: 0    black
Name: color, dtype: object

## Actividad #4

- Calcular el primer, Segundo, tercer cuartile de la variable  'price_usd' en la base de datos. Discutir los resultados.

In [30]:
# Leer el archivo CSV como dataframe
automobiles_df = pd.read_csv('DB/cars.csv')

In [31]:
automobiles_df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [36]:
# Calcular los cuartiles de la variable 'price_usd'
cuartil_1 = automobiles_df['price_usd'].quantile(0.25)
cuartil_2 = automobiles_df['price_usd'].quantile(0.50) 
cuartil_3 = automobiles_df['price_usd'].quantile(0.75)

In [37]:
# Imprimir los resultados
print("Primer cuartil (Q1):", cuartil_1)
print("Segundo cuartil (Q2 o mediana):", cuartil_2)
print("Tercer cuartil (Q3):", cuartil_3)

Primer cuartil (Q1): 2100.0
Segundo cuartil (Q2 o mediana): 4800.0
Tercer cuartil (Q3): 8990.0

### Conclusiones Ejercicio 4

### Primer cuartil (Q1):
El valor del primer cuartil (Q1), que es 2100.0 USD en tu conjunto de datos, indica que al menos el 25% de los precios de los automóviles son relativamente bajos, con un valor igual o inferior a este punto. 

### Segundo cuartil (Q2, Mediana):
El valor del segundo cuartil (Q2), también conocido como la mediana, es 4800.0 USD en tu conjunto de datos. Esto significa que el 50% de los precios de los automóviles son iguales o inferiores a este valor, y el otro 50% son iguales o superiores a este punto.

### Tercer cuartil (Q3):
El valor del tercer cuartil (Q3), que es 8990.0 USD en tu conjunto de datos, indica que al menos el 75% de los precios de los automóviles son iguales o inferiores a este punto.